.user-container {
    background-color: #ffffff;
    padding: 80px 24px 24px;
    border-radius: 8px;
    min-height: 100vh;
    box-sizing: border-box;
}

.user-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* New row for title + report button */
.user-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjust report button */
.report-btn {
    background-color: #0c60b5;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.report-btn:hover {
    background-color: #40a9ff;
}

.user-title {
    grid-column: 2;
    justify-self: left;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.add-btn-div {
    grid-column: 3;
    /* right */
    justify-self: end;
    align-self: end;
    /* a bit below */
    margin-top: 8px;
}

.add-btn {
    background-color: #1890ff;
    color: white;
    border: none;
}

.user-add-btn:hover {
    background-color: #40a9ff;
    color: white;
}

.user-table {
    flex: 1;
    overflow: auto;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.report-btn {
    background-color: #0c60b5;
    color: white;
    border: none;
    justify-self: right;
    padding: 3px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.report-btn:hover {
    background-color: #40a9ff;
}


@media (max-width: 768px) {
    .user-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-title {
        font-size: 20px;
        text-align: center;
    }

    .add-btn-div {
        margin-top: 10px;
        align-self: center;
    }

    .add-btn {
        width: 100%;
    }

    .user-title-row {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}