/* Main container */
.admin-section {
    padding: 5px;
    max-width: fit-content;
    box-sizing: border-box;
    overflow-y: hidden;

}

/* Centered content */
.admin-page-mid {
    /* padding: 10px; */
    max-width: fit-content;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    overflow-y: hidden;
}

/* Header bar */
.admin-header-bar {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 15px;
    color: #333;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 10px;
}

/* Header text */
.admin-page-header {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
    justify-content: center;
}

/* Button group */
.admin-page-search {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

/* Table wrapper */
.user-table {
    position: relative;
    overflow-x: auto;
    /* max-width: 100%; */
    margin-left: 10px;
    margin-right: 30px;
    /* space from sidebar */
    box-sizing: border-box;
    overflow-y: auto;
}

.user-table .ant-table {
    border-collapse: collapse;
    /* width: 100%; */
}

/* Action buttons inside the table */
.ant-btn {
    border-radius: 6px;
}

.ant-btn>.anticon {
    vertical-align: middle;
}

/* Add spacing between action buttons */
.user-table .ant-table-cell .ant-btn {
    position: relative;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px) {
    .admin-header-bar {
        font-size: 1.4rem;
    }

    .admin-page-search {
        flex-direction: column;
        align-items: center;
    }

}