.group-container {
    background-color: #ffffff;
    padding: 80px 24px 24px;
    /* Top padding accounts for navbar height */
    border-radius: 8px;
    min-height: 100vh;
    box-sizing: border-box;
}

.group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.group-title {
    grid-column: 2;
    /* center */
    justify-self: left;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.add-btn-div {
    grid-column: 3;
    /* right */
    justify-self: end;
    align-self: end;
    /* a bit below */
    margin-top: 8px;
}

.add-btn {
    background-color: #1890ff;
    color: white;
    border: none;
}


.group-add-btn:hover {
    background-color: #40a9ff;
    color: white;
}

.group-table {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.group-subtitle {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 18px;
    background: #f9f9fa;
    border-radius: 8px;
    margin-bottom: 16px;
    align-content: center;
}

@media (max-width: 768px) {
    .group-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .group-title {
        font-size: 20px;
        text-align: center;
    }

    .add-btn-div {
        margin-top: 10px;
        align-self: center;
    }

    .add-btn {
        width: 100%;
    }
}