.toast {
  min-width: 280px;
  max-width: 90%;
  padding: 12px 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: left;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  animation: slideInOut 3s ease forwards;
  display: flex;
  align-items: center;
}

.toast-success {
  background-color: #5dc876;
  border-color: #045016;
}

.toast-error {
  background-color: #d3515e;
  border-color: #500404;
}

.toast-message {
  font-size: 16px;
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  10%,
  85% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}