   .toast {
     min-width: 250px;
     padding: 6px;
     position: fixed;
     top: 15px;
     left: 85%;
     transform: translateX(-30%);
     border-radius: 8px;
     font-family: "Roboto", sans-serif;
     color: #ffffff;
     text-align: center;
     z-index: 9999;
     opacity: 10;
     animation: fadeInOut 3s forwards;
   }

   .toast-success {
     background-color: #5757ec;
   }

   .toast-error {
     background-color: #dc3545;
   }

   @keyframes fadeInOut {
     0% {
       opacity: 3;
     }

     10% {
       opacity: 1;
     }

     90% {
       opacity: 1;
     }

     100% {
       opacity: 0;
     }
   }