.sidebar {
  width: 10rem;
  background-color: #fff;
  padding: 1.25rem;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 4px #1f006f;
  padding-top: 7rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 5px;

}

.sidebar-item-active {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-weight: bolder;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar-item-active:hover {
  background-color: rgb(234, 238, 238);
}

.sidebar-logout-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 10rem;
  left: 0rem;
}

.side-logo {
  width: 2rem;
}

.sidebar-item:hover {
  background-color: rgb(234, 238, 238);
}

.sidebar-text:hover {
  transform: scale(1.1);

  transition: 0.2s;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 9rem;
    padding-top: 8rem;
  }

  .sidebar-item {
    margin-bottom: 2.5rem;
    padding-left: 0;
  }

  .sidebar-item-active {
    margin-bottom: 2.5rem;
    padding-left: 5px;
  }

  .sidebar-logout-btn {
    bottom: 15rem;
  }

  .sidebar-text {
    font-size: 16px;
  }

  .side-logo {
    width: 1.5rem;
  }
}