.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* Ensure it wraps at all screen sizes */
    gap: 20px;
    /* Optional: spacing between cards */
    margin-bottom: 40px;
    /* Push the next section down */
}

.user-history-table {
    font-family: Josefin Sans;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-top: 7px;
}

.no-data-found {
    position: relative;
}

.dash-card {
    position: relative;
    /* instead of absolute */
    width: 100%;
}

@media (max-width: 1300px) {
    .main-content {
        flex-wrap: wrap;
    }

    .dash-tables {
        flex-direction: column;
    }

    .user-dash-table {
        width: 100%;
    }

    .welcome-admin {
        padding-top: 0;
    }
}